body {
    max-width: 20%;
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 40%;
    border: solid black 1px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 300px;
    padding-left: 20px;
    text-align: center
} 


